name: update gist

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: "lts/*"
          cache: "npm"

      - run: sudo apt-get update
      - run: sudo apt-get install cmake pkg-config libicu-dev zlib1g-dev libcurl4-openssl-dev libssl-dev ruby-dev
      - run: sudo gem install github-linguist
      - run: npm ci
      - run: npm start
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          GIST_ID: 3b3ecb27eb286cce73a05a5c757dec9a
          USERNAME: ${{ github.actor }}
